body{
    background-color: #E5E5E5;
    width: 375px;
    margin: 0 auto;
    font-family: 'Saira Stencil One', cursive;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.bodyinitialPage {
    background-color: #A328D6;
    padding: 25px 24px;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF; 
}
.records {
    margin-top: 22px;
    background-color: white;
    width: 326px;
    height: 446px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
.records h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #868686;
}
.cashFlow {
    display: flex;
}
.cashFlow h4{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 10px;
    margin-top: 47px;
    display: flex;
}
.cashFlow img{
    margin-top: 10px;
    margin-left: 10px;
}
.input {
    background: #8A2BE2;
    width: 155px;
    height: 114px;
    left: 25px;
    top: 537px;
    border-radius: 5px;
    margin-right: 15px;
}
.output {
    background: #8A2BE2;
    width: 155px;
    height: 114px;
    left: 25px;
    top: 537px;
    border-radius: 5px;
}

/*Input */
.inputBody{
    background-color: #A328D6;
    padding: 25px 24px;
    padding-bottom: 320px;
}
.inputBody h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.inputBody input {
    width: 326px;
    height: 58px;
    left: 25px;
    top: 96px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;  
}
.inputBody button {
    width: 333px;
    height: 46px;
    background: #8A2BE2;
    border-radius: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 36px;
}






/*Output */
.outputBody{
    background-color: #A328D6;
    padding: 25px 24px;
    padding-bottom: 320px;
}
.outputBody h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.outputBody input {
    width: 326px;
    height: 58px;
    left: 25px;
    top: 96px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;  
}
.outputBody button {
    width: 333px;
    height: 46px;
    background: #8A2BE2;
    border-radius: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 36px;
}